body {
  background: url("/img/somuch.jpeg");
}

#container {
  background : rgba(255, 255, 255, .8);
  margin     : 100px auto;
  width      : 200px;
  padding    : 20px;
}

h1 {
  text-align: center;
}

#quote {
  margin-top: 10px;
}

#new-one {
  display : block;
  margin  : 5px auto;
}

.content {
  font-size: 1.1em;
}

.author {
  color      : gray;
  font-style : italic;
}
