body {
  /*background: url("../img/somuch.jpeg");*/
}

#container {
  background : rgba(255, 255, 255, .8);
  margin     : 100px auto;
  width      : 200px;
  padding    : 20px;
}

#title {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin:     0;
  padding:    0;
}

h1 {
  text-align: center;
}

#quote {
  margin-top: 10px;
}

#new-one {
  display : block;
  margin  : 5px auto;
}

.content {
  font-size: 1.1em;
}

.author {
  color      : gray;
  font-style : italic;
}

.quote {
  margin: 5px;
  cursor: pointer;
}

.quote .fave {
  color: red;
}

p {
  margin: 10px 0 0 0 ;
}
